<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Error</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <code>{{ error.status }}</code>
    <code>{{ error.stack }}</code>

</body>
</html>
